@charset "utf-8";

*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: lightgray;
    height: 100vh;
    background: url("../Imagens/pacote-d013/imagens/fundo-madeira.jpg"); 
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main
{
    height: 100vh;
    position: relative;
}
section#Telefone
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-image: url("../Imagens/pacote-d013/imagens/frame-iphone.png");
    background-size: cover;
    background-repeat: no-repeat;
}

section#Redes_Sociais img
{  
    border-radius: 50%;
    margin: 10px;
    height: 50px;
}

section#Redes_Sociais 
{  
    text-align: right;
}

section#Redes_Sociais img:hover
{
    border: 30px solid white;
    transform:  translate(-3px,-3px);
    box-shadow: 5px 5px 10px black;
    transition: 1s;

    
}

iframe#tela
{
    position: relative;
    left: 22px;
    bottom: -80px;
    width: 267px;
    height: 471px;

}

