@charset "utf-8";

*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: lightgray;
    height: 100vh;
    background: url("../Imagens/pacote-d013/imagens/fundo-madeira.jpg"); 
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main
{
    height: 100vh;
    position: relative;
}
section#Telefone
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-image: url("../Imagens/pacote-d013/imagens/frame-iphone.png");
    background-size: cover;
    background-repeat: no-repeat;
}

iframe
{
    height: 500px;
    width: 500px;  
}

